<ion-navbar *navbar>
  <ion-title>
    Home
  </ion-title>
</ion-navbar>

<ion-content class="home">
  <ul id="deviceList">
                 </ul>
                 <button id="refreshButton">Refresh</button>
             </div>
             <div id="detailPage">
               <ion-item class="item-icon-right" ng-repeat="device in devices" type="item-text-wrap" href="#/tab/ble/{{device.id}}">
                 <h2>{{device.name}}</h2>
                 <p>{{device.id}} &nbsp; RSSI: {{device.rssi}}</p>
                 <i class="icon ion-chevron-right icon-accessory"></i>
               </ion-item>
             </div>
         </div>
  <button fab primary fab-bottom fab-center (click)="startScanning()">
   <ion-icon name="flash"></ion-icon>
   </button>
</ion-content>
