<ion-navbar *navbar>
  <ion-title>Tab 1</ion-title>
</ion-navbar>

<ion-content padding class="page1">
  <h2>Welcome to Ionic!</h2>
  <p>
    HOI
  </p>
  <button secondary (click)="scan()">Scan</button>
  <h2>ID:</h2>
  <p *ngIf="id">{{ id }}</p>
  <h2>RSSI:</h2>
  <p *ngIf="rssi">{{ rssi }}</p>
</ion-content>
