<ion-navbar *navbar>
  <ion-title>Tab 1</ion-title>
</ion-navbar>

<ion-content padding class="page1">
  <div class="list">
      <div class="item" ng-repeat="(key, value) in beacons">
          <div class="row">
              <div class="col truncate">
                  {{value.uuid}}
              </div>
          </div>
          <div class="row">
              <div class="col">
                  major: {{value.major}}
              </div>
              <div class="col">
                  minor: {{value.minor}}
              </div>
          </div>
          <div class="row">
              <div class="col">
                  {{value.proximity}}
              </div>
          </div>
      </div>
  </div>  
</ion-content>
